# Python
__pycache__/
*.pyc
.venv/
.uv/
dist/
*.egg-info/

# Node
node_modules/
frontend/dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Lambda package
backend/package.zip
output/
# Env
.env